<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>.IO Game</title>
    <link rel="stylesheet" tpe="text/css" href="css/game.css">
  </head>
  <body>
     <div class='outer'>
         <div class='middle'>
            <div class='name'>
                <h1>ENTER NAME TO PLAY</h1>
                <br>
                <form action="game" method="get" style="font-size:30px">
                    Name:<br>
                    <input type="text" name="name"><br><br>
                    <button class="button"type="submit">PLAY</button>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>